//
//  Development.xcconfig
//  swiftMVVM
//
//  Created by Vinícius Salmont
//  Copyright © 2022 Salmont Dev. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// App Settings
APP_NAME = swiftMVVM α
APP_BUNDLE_ID = dev.salmont.swiftMVVM
